# PostgreSQL Configuration (dùng cho docker-compose)
# Copy file này thành .env và điền giá trị thực vào
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_db_password_here
POSTGRES_DB=cdshop
GEMINI_API_KEY=your_actual_api_key_here

# VNPAY Sandbox Configuration
VNP_TMN_CODE=NKKFNQR2
VNP_HASH_SECRET=BSTSEN2NTVPOVL0FWO50DO14U61S46SD
VNP_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNP_RETURN_URL=http://localhost:5173/payment/return
VNP_API_URL=https://merchant.vnpay.vn/merchant_webapi/api/transaction